<!DOCTYPE html>
<html ng-app='eRegistry'>
    <head>
        <title>E-Registry</title>
        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <%= htmlWebpackPlugin.options.stylesheets(webpack.hash) %>
        
        
        <script>
        //Global variables
        APPURL = '<%= htmlWebpackPlugin.options.APPURL  %>'
        BASEURL = '<%= htmlWebpackPlugin.options.BASEURL  %>'
        BASEAPIURL = '<%= htmlWebpackPlugin.options.BASEAPIURL  %>';
        </script>

        <%= htmlWebpackPlugin.options.vendorScripts %>

        <script>
            
            // Needs to be wrapped in jQuery to be sure the DOM is parsed as the script is not at the bottom.
            jQuery(function () {
                Dhis2HeaderBar.initHeaderBar(document.querySelector('#header'), BASEAPIURL, { noLoadingIndicator: true });
            });
        </script>

    </head>
    <body>
        <div id="header"></div>
        <div id="headerMessage"></div>

        <div ng-view></div>

    </body>
</html>
